<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Page</title>
    <style>
      body {
      background-image: url('https://d.newsweek.com/en/full/1781173/black-hole.jpg');
      background-size: 2100px 1000px;
    }
    h1,h2 {
        color:white;
        }
  </style>
</head>
<body>
    <h1>Here is your weight on different planets</h1>
    <h2>Weight on Mercury: {{ mercury }} Kg</h2>
    <h2>Weight on Venus: {{ venus }} Kg</h2>
    <h2>Weight on Mars: {{ mars }} Kg</h2>
    <h2>Weight on Jupiter: {{ jupiter }} Kg</h2>
    <h2>Weight on Saturn: {{ saturn }} Kg</h2>
    <h2>Weight on Uranus: {{ uranus }} Kg</h2>
    <h2>Weight on Neptune: {{ neptune }} Kg</h2>
    <h2>Weight on Pluto: {{ pluto }} Kg</h2>
<form action="http://127.0.0.1:5000">        
  <button type="back to home">Back To Home</button>
</form>
</body>
</html>