 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Page</title>
    <style>
        .image-container {
        padding: 100px; /* Adds 10px space inside the container */
        }
    </style>
</head>
<body bgcolor="lightblue">
    <table>
        <tr>
            <td class="CSS Settings"> <a href="https://github.com/ajay-a99/TestCode">
                <img src="https://th.bing.com/th/id/OIP.8SVgggxQcO5L6Dw_61ac4QHaEK?w=305&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Clickable Image" width="300" height="200" >
            </a> </td>
            <td class="CSS Settings"> <a href="http://127.0.0.1:5000\html1">
                <img src="https://th.bing.com/th/id/OIP.yefc5WaJa1FdCvP1lHiLRQHaFP?w=266&h=188&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Clickable Image" width="300" height="200" >
            </a> </td>
            <td class="CSS Settings"> <a href="http://127.0.0.1:5000\weather">
                <img src="https://th.bing.com/th?id=OIP.ohyPP8rhEZ21_3PyDdXs7QHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="Clickable Image" width="300" height="200">
            </a> </td>
            <td class="CSS Settings"> <a href="http://127.0.0.1:5000\jokes">
                <img src="http://ts1.mm.bing.net/th?id=OIP.xxBDoYCvqx1dQ94k4NJcrQHaEh&pid=15.1" alt="Clickable Image" width="300" height="200">
            </a> </td>
        </tr>
        <tr>
            <td style='text-align:center' class="CSS Settings"> Click on the image to go to my git page </td>
            <td style='text-align:center' class="CSS Settings"> Click on the image to get the timezone </td>
            <td style='text-align:center' class="CSS Settings"> Click on the image for weather updates </td>
            <td style='text-align:center' class="CSS Settings"> Click on the image and laugh </td>
        </tr>
        <tr>
            <td class="CSS Settings"> <a href="http://127.0.0.1:5000\qr">
                <img src="https://th.bing.com/th/id/OIP.6ihVx6l0dA_Jj2iTomJjmQHaHa?w=187&h=182&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Clickable Image" width="300" height="200" >
            </a> </td>
            <td class="CSS Settings"> <a href="http://127.0.0.1:5000\weight">
                <img src="https://th.bing.com/th?id=OIP.ZqxFobmreEd4zRBU8J_jFAHaFu&w=284&h=219&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="Clickable Image" width="300" height="200" >
            </a> </td>
            <td class="CSS Settings"> <a href="https://github.com/ajay-a99/TestCode">
                <img src="https://th.bing.com/th/id/OIP.nzlXcGNa8Ydif7P9zdXwVAHaHa?rs=1&pid=ImgDetMain" alt="Clickable Image" width="300" height="200" >
            </a> </td>
            <td class="CSS Settings"> <a href="http://127.0.0.1:5000\weight">
                <img src="https://th.bing.com/th/id/OIP.nzlXcGNa8Ydif7P9zdXwVAHaHa?rs=1&pid=ImgDetMain" alt="Clickable Image" width="300" height="200" >
            </a> </td>
        </tr>
        <tr>
            <td style='text-align:center' class="CSS Settings"> Click on the image to generate QR</td>
            <td style='text-align:center' class="CSS Settings"> Click on the image to your weight in different planets</td>
            <td style='text-align:center' class="CSS Settings"> Will keep you updated</td>
            <td style='text-align:center' class="CSS Settings"> Will keep you updated</td>
        </tr>
    </table>
</body>
</html>
