<table>
    <tr>
        <td class="CSS Settings"> <a href="http://127.0.0.1:5000\html1">
            <img src="https://th.bing.com/th/id/OIP.yefc5WaJa1FdCvP1lHiLRQHaFP?w=266&h=188&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Clickable Image" width="300" height="200">
        </a> </td>
        <td class="CSS Settings"> <a href="https://github.com/ajay-a99/TestCode">
            <img src="https://th.bing.com/th?id=OIP.ohyPP8rhEZ21_3PyDdXs7QHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="Clickable Image" width="300" height="200">
        </a> </td>
    </tr>
    <tr>
        <td class="CSS Settings"> Click on the image to get the timezone </td>
        <td class="CSS Settings"> Click on the image for weather updates </td>
    </tr>
</table>